.nurve{
    background-color: rgb(112, 211, 245);
    position:sticky;
    margin:10px;
    height:67px;
    padding-top:5px;
    
}

ul li{
    width:10%;
    text-transform: capitalize;
    display:inline-block;
    height:5%;

}
.content{
    padding:4px;
    background-color: aqua;
    color:white;
    display:grid;
    grid-template-columns: 30% 30% 40% auto;
    height:500px;
}
.disc{
    background-color: white;
    width:300px;
    padding:2px;
    font-size:14px;
    color:blue;
    background-image: url("tea.jpeg");
}

ul li a{
    text-decoration:none;
    color:white;
    font-family:calibri;
    vertical-align: middle;
    display:inline-block;
}