.nurve{
    float:center;
    background-color: rgb(112, 211, 245);
    position:sticky;
    margin:10px;
    height:67px;
    padding-top:5px;
    
}

ul li{
    width:10%;
    text-transform: capitalize;
    display:inline-block;
    height:5%;

}
@media screen 
    and (min-width:400px)
    and (max-widht:600px)
{
    body{
        background-color: red;
   }
}

@supports (max-width:600px) and (min-width:400px){
    div{
        width:1250px;
    }
}
.content{
    padding:4px;
    background-color: aqua;
    color:white;
    display:flex;
    overflow:hidden;
    height:500px;
}
.disc{
    margin:20px;
    background-color: white;
    width:600px;
    padding:4px;
    font-size:15px;
    color:blue;
    background-image: url();
    border-radius: 5%;

}

ul li a{
    text-decoration:none;
    color:white;
    font-family:calibri;
    vertical-align: middle;
    display:inline-block;
    font-size:20px;
}