button{
    padding-top:4px;
    padding-bottom:4px;
    padding-right:4px;
    padding-left:4px;
}

img{
    height:200px;
    width:300px;
}

input{
    margin-top:20px;
    height:40px;
    width:650px;
    border-color:lightgrey;
}
.google{
    font-size:250px;
    font-family:MingLiU_HKSCS-ExtB;
    padding:0px;
    margin:-8px;
    text-decoration-style: solid;
    text-shadow: 3px;
}
#ror{
    margin:-24px;
}
#rol{
    margin:-29px;
}
.india{
    position:relative;
    margin-top:-6%;
    margin-left:40%;
    font-size:20px;
    font-family:MingLiU_HKSCS-ExtB;
}
#g{
    margin:-24;
}