button{
    padding-top:4px;
    padding-bottom:4px;
    padding-right:4px;
    padding-left:4px;
}

img{
    height:200px;
    width:300px;
}

input{
    margin-top:20px;
    height:40px;
    width:650px;
    border-color:lightgrey;
}
