.tea{

    margin-right:4px;
    border-style:outset;
    position:absolute;
}
.image{
    position: absolute;
    top: 1px;
    right:3px;
    height:2800px;
    padding:2px;
}
p{
  padding:2px;
}
body{
  padding:20px;
  margin:20px;
}